.container-fluid {
  padding: 0;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}

header a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.nav-icons span {
  margin-right: 20px;
}

section {
  min-height: 900px; /* Adjust the height of the section */
  padding-top: 7%;
}

/* Add more styles for your footer if needed */

@media (max-width: 768px) {
  section {
    padding-top: 36%;
  }
}

@media (max-width: 576px) {
  section {
    padding-top: 36%;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  section {
    padding-top: 20%;
  }
}

/* Medium devices (laptops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  section {
    padding-top: 14%;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section {
    padding-top: 10%;
  }
}
